#introduction {
    
    background: url(../img/fon.png) no-repeat; 
    background-position-y: 26px;
   position: absolute;
width: 1519px;
height: 777px;
left: 0px;
top: 0px;

background-color: #9A1212;
}




.fill-viewport {
  min-height: 100vh 
}
